.NavigationItems{
    width: 100%;
    display: flex;
    flex-flow: column;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
}
@media(min-width:500px){
    .NavigationItems{
        margin: 0;
        height: 100%;
        display: flex;
        flex-flow: row;
        list-style: none;
        justify-content: space-around;
        box-sizing: border-box;
    }
}