.Order{
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 3px #ccc;
    margin: 10px auto;
}
.OrderIngredients{
    margin: auto 3px;
    padding: 3px;
    box-shadow: 0px 2px 3px #ccc;
    border: 1px solid #ccc;
}
@media(min-width : 500px){
    .Order{
        width: 450px;
    }
}