.Input{
    text-align: center;
}
.InputElement{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 5px 2px;
}
.InputElement:focus{
    background-color: rgb(228, 224, 224);
}
.Invalid{
    background-color: salmon;
    border: 2px solid red;
}
.Invalid:focus{
    background-color: salmon;
    border: 2px solid red;
}